<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título que será exibido na janela -->
    <title>Cadastro de clientes</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <!-- CSS personalizado -->
    <link rel="stylesheet" href="../public/css/style.css">
    <!-- impedir a execução de scripts externos ou não autorizados -->
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'">
</head>

<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <!-- Bloco 1 -->
            <div class="col-md-3 text-center mb-4">
                <img src="../public/img/empresa.png" alt="clientes" title="Cadastro de empresas" onclick="client()">
                <p>Cadastrar Empresa</p>
            </div>
            <!-- Bloco 2 -->
            <div class="col-md-3 text-center mb-4">
                <img src="../public/img/cadastro.png" alt="clientes" title="Cadastro de clientes" onclick="nota()">
                <p>Cadastrar Nota</p>
            </div>
        </div>
    </div>

    <div class="servico"><img src="../public/img/vortex.png" alt="vortex"></div>

    <footer class="text-center mt-5">
        <p id="dataAtual"></p>
        <img src="../public/img/dboff.png" alt="dbicon" id="statusdb">
    </footer>

    <!-- Bootstrap -->
    <script src="../public/js/bootstrap.min.js"></script>
    <!-- Scripts -->
    <script src="../public/js/script.js"></script>
    <!-- Renderizador -->
    <script src="renderer.js"></script>
</body>

</html>